:root {
  color-scheme: light dark;

  --easyui-color-background: light-dark(#ffffff, #09090b);
  --easyui-color-foreground: light-dark(#18181b, #f4f4f5);
  --easyui-color-default: light-dark(#d7d7dd, #4e4e52);
  --easyui-color-default-foreground: light-dark(#18181b, #f4f4f5);
  --easyui-color-primary: #1c5eca;
  --easyui-color-primary-foreground: #ffffff;
  --easyui-color-secondary: #5e2bd4;
  --easyui-color-secondary-foreground: #ffffff;
  --easyui-color-success: #11ab3c;
  --easyui-color-success-foreground: #ffffff;
  --easyui-color-warning: #da820d;
  --easyui-color-warning-foreground: #ffffff;
  --easyui-color-error: #d61515;
  --easyui-color-error-foreground: #ffffff;
  --easyui-color-primary-dark: light-dark(
    color-mix(in srgb, var(--easyui-color-primary) 70%, black),
    color-mix(in srgb, var(--easyui-color-primary) 70%, white)
  );
  --easyui-color-secondary-dark: light-dark(
    color-mix(in srgb, var(--easyui-color-secondary) 70%, black),
    color-mix(in srgb, var(--easyui-color-secondary) 70%, white)
  );
  --easyui-color-success-dark: light-dark(
    color-mix(in srgb, var(--easyui-color-success) 70%, black),
    color-mix(in srgb, var(--easyui-color-success) 70%, white)
  );
  --easyui-color-warning-dark: light-dark(
    color-mix(in srgb, var(--easyui-color-warning) 70%, black),
    color-mix(in srgb, var(--easyui-color-warning) 70%, white)
  );
  --easyui-color-error-dark: light-dark(
    color-mix(in srgb, var(--easyui-color-error) 70%, black),
    color-mix(in srgb, var(--easyui-color-error) 70%, white)
  );
  --easyui-color-focus-ring: var(--easyui-color-primary);
  --easyui-radius-sm: 8px;
  --easyui-radius-md: 12px;
  --easyui-radius-lg: 14px;
  --easyui-border-width-sm: 1px;
  --easyui-border-width-md: 2px;
  --easyui-border-width-lg: 3px;
}

body {
  background-color: var(--easyui-color-background);
  color: var(--easyui-color-foreground);
}

[data-theme='dark'] {
  color-scheme: dark;
}

[data-theme='light'] {
  color-scheme: light;
}
